<br />
<p>
    <b>Name: </b><span>@CurrentContact.FirstName @CurrentContact.LastName</span><br />
    <br />

    @if(DisplayEmail)
    {
        <b>Email: </b><i>@CurrentContact.Email</i>

    }

    @if(displayInfo)
    {
        <span>The Email Address of @CurrentContact.FirstName @CurrentContact.LastName is @CurrentContact.Email</span>
    }
    <br />
    <button @onclick="@(() => { displayInfo = !displayInfo; })">Show Info</button>
</p>

@code {
    [Parameter]
    public Contact CurrentContact { get; set; }

    [Parameter]
    public bool DisplayEmail { get; set; }

    private bool displayInfo = false;
}